#conteiner{
    display: flex;
    flex-direction: row;
}
#leftPart{
    width: 250px;
}
#rightPart{
     width: 400px;
}
.button_class{
    color: #66FCF4;
    background: #474A51;
    border-bottom: #66FCF4;
    margin-bottom: 10px;
    display: block;
    width: 240px;
    height: 30px;
    font-size: 20px;
}
#loadSteps{
    opacity: 0;
}
