#conteiner{
    display: flex;
    flex-direction: row;
}
#leftPart{
    width: 250px;
}
#rightPart{
     width: 400px;
}
.button_class{
    color: #66FCF4;
    background: #474A51;
    border-bottom: #66FCF4;
    margin-bottom: 10px;
    display: block;
    width: 240px;
    height: 30px;
    font-size: 20px;
}
#loadSteps{
    opacity: 0;
}
#ws-mes{
    background-color: green;
    width: 0;
    height: 25px;
}
#ws-mes-conteiner{
    height: 25px;
    width: 100px;
    border: 1px solid grey;
    opacity: 0;
    margin-top: 15px;
    margin-left: 15px;
}
