

  <div id="conteiner" >
     <img id='main_conteiner' src="/images/shop.jpg" alt="shops">
    <div id="autentif">
        <input id="autorization" class="main_button" type="button" value="Авторизироваться">
        <input id="registration" class="main_button" type="button" value="Загеристрироваться">
        <input id="guest" class="main_button" type="button" value="Я просто посмотреть">
     </div>
  </div>
       
        
